In [3]:
import pandas as pd

In [35]:
# Load & Check the sales DataFrames
df_sales = pd.read_excel("./data/Coffee Shop Sales.xlsx")
df_sales.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

In [20]:
# Load & Check the weather DataFrames
df_weather = pd.read_csv("./data/NYC.csv")
df_weather.head()

  station             valid  tmpc   relh  sped  p01m
0     NYC  2023-01-01 00:06  10.0  92.80  0.00     T
1     NYC  2023-01-01 00:18  10.0  95.98  3.45     T
2     NYC  2023-01-01 00:31  10.0  92.80  0.00  0.25
3     NYC  2023-01-01 00:44  10.0  95.98  0.00  0.51
4     NYC  2023-01-01 00:49  10.0  93.50  0.00  0.51

In [ ]:
# Check if any null values exists for the sales DataFrames
df_sales.isna().sum()

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
dtype: int64

In [21]:
# Check if any null values exists for the weather DataFrames
df_weather.isna().sum()

station      0
valid        0
tmpc         0
relh         0
sped       312
p01m         0
dtype: int64

In [ ]:
# info of the sales numerical data
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_date  149116 non-null  datetime64[ns]
 1   transaction_time  149116 non-null  object
 2   transaction_qty   149116 non-null  int64
 3   store_location    149116 non-null  object
 4   unit_price        149116 non-null  float64
 5   product_category  149116 non-null  object
 6   product_type      149116 non-null  object
 7   product_detail    149116 non-null  object
 8   hour              149116 non-null  int64
 9   year              149116 non-null  int32
 10  month             149116 non-null  object
 11  day               149116 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), int64(2), object(7)
memory usage: 13.1+ MB

In [31]:
# info of the weather numerical data
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  5500 non-null   object
 1   valid    5500 non-null   object
 2   tmpc     5500 non-null   float64
 3   relh     5500 non-null   float64
 4   sped     5188 non-null   float64
 5   p01m     5500 non-null   object
dtypes: float64(3), object(3)
memory usage: 257.9+ KB

In [32]:
# We have to create a datetime object in the weather DataFrames
df_weather["date_times"] = pd.to_datetime(df_weather["valid"])

In [36]:
# Dropping some columns that is not required for the analysis
df_sales.drop(columns = ["transaction_id", "store_id", "product_id"], inplace = True)

df_weather.drop(columns="valid", inplace=True)

In [37]:
# add new column year, month, day & hour for the sales DataFrames
df_sales["year"] = df_sales["transaction_date"].dt.year

df_sales["month"] = df_sales["transaction_date"].dt.month_name()

df_sales["day"] = df_sales["transaction_date"].dt.day_name()

df_sales["hour"] = df_sales["transaction_time"].apply(lambda x: x.hour)

In [38]:
# add new column year, month, day & hour for the weather DataFrames
df_weather["year"] = df_weather["date_times"].dt.year

df_weather["month"] = df_weather["date_times"].dt.month_name()

df_weather["day"] = df_weather["date_times"].dt.day_name()

df_weather["hour"] = df_weather["date_times"].apply(lambda x: x.hour)